.contact {
  margin-block-start: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid green; */
  width: 50%;
}
.contact label {
  align-self: flex-start;
  font-size: 2.5rem;
  font-family: 'Oswald', sans-serif;
}
.contact input,
#form-textarea {
  font-size: 1.6rem;
  font-family: 'Ubuntu', sans-serif;
}
.contact-form-buttonContainer {
  /* border: 1px solid blue; */
  width: 50%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  /* flex-direction: column; */
}
#contact-form-button__sent {
  width: 8rem;
}
#contact-form-button__clear {
  width: 8rem;
}
@media only screen and (max-width: 768px) {
  .contact-form {
    width: 86%;
  }
  .contact {
    /* margin-block-start: -40rem; */
  }
}
@media only screen and (max-width: 460px) {
  .contact-form-buttonContainer {
    flex-direction: column;
    width: 80%;
    height: auto;
  }
  #contact-form-button__sent {
    width: 100%;
    margin-block-end: 1rem;
  }
  #contact-form-button__clear {
    width: 100%;
  }
  .contact {
    height: 100vh;
  }
}
