.hero {
	grid-row: 2 span 1;
	position: relative;
}
.custom-shape-divider-bottom-1632433472 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1632433472 svg {
	/* position: relative; */
	display: block;
	width: calc(100% + 1.3px);
	height: 98px;
}

.custom-shape-divider-bottom-1632433472 .shape-fill {
	fill: #ebf0f0;
}

.hero {
	background-image: url(/src/images/background.jpg);
	background-position: center;
	background-size: cover;
	/* background-color: var(--dark-blue); */
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo-container {
	min-width: 150px;
	width: 20%;
	/* border: 1px solid red; */
}
#logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	margin-top: 20rem;
	animation: fill 0.2s ease forwards 1.9s;
}
#logo path:nth-child(1) {
	stroke-dasharray: 782px;
	stroke-dashoffset: 782;
	animation: line-anim 0.5s ease forwards;
}
#logo path:nth-child(2) {
	stroke-dasharray: 299;
	stroke-dashoffset: 299;
	animation: line-anim 0.5s ease forwards 0.3s;
}
#logo path:nth-child(3) {
	stroke-dasharray: 402.8;
	stroke-dashoffset: 402.8;
	animation: line-anim 0.5s ease forwards 0.6s;
}
#logo path:nth-child(4) {
	stroke-dasharray: 402.8336181640625;
	stroke-dashoffset: 402.8336181640625;
	animation: line-anim 0.5s ease forwards 0.9s;
}
#logo path:nth-child(5) {
	stroke-dasharray: 353;
	stroke-dashoffset: 353;
	animation: line-anim 0.5s ease forwards 1.2s;
}
#logo path:nth-child(6) {
	stroke-dasharray: 340;
	stroke-dashoffset: 340;
	animation: line-anim 0.5s ease forwards 1.5s;
}
#logo path:nth-child(7) {
	stroke-dasharray: 971.95;
	stroke-dashoffset: 971.95;
	animation: line-anim 0s ease forwards 2s;
}
#logo path:nth-child(8) {
	stroke-dasharray: 479;
	stroke-dashoffset: 479;
	animation: line-anim 0s ease forwards 2s;
}
#logo path:nth-child(9) {
	stroke-dasharray: 680.8;
	stroke-dashoffset: 680.8;
	animation: line-anim 0s ease forwards 2s;
}
#logo path:nth-child(10) {
	stroke-dasharray: 299;
	stroke-dashoffset: 299;
	animation: line-anim 0s ease forwards 2s;
}
#logo path:nth-child(11) {
	stroke-dasharray: 340;
	stroke-dashoffset: 340;
	animation: line-anim 0s ease forwards 2s;
}
#logo path:nth-child(12) {
	stroke-dasharray: 377;
	stroke-dashoffset: 377;
	animation: line-anim 0s ease forwards 2s;
}
#logo path:nth-child(13) {
	stroke-dasharray: 610;
	stroke-dashoffset: 610;
	animation: line-anim 0s ease forwards 2s;
}
#logo path:nth-child(14) {
	stroke-dasharray: 62.7;
	stroke-dashoffset: 62.7;
	animation: line-anim 0s ease forwards 2s;
}
@keyframes line-anim {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes fill {
	from {
		fill: transparent;
	}
	to {
		fill: white;
	}
}
.invisible {
	min-height: 50vh;
	color: var(--dark-blue);
	font-family: 'Oswald', sans-serif;
	font-size: 2rem;
}
.main-subtitle {
	color: var(--off-white);
	font-family: 'Oswald', sans-serif;
	font-size: 2rem;
}

.scroll-image-container {
	width: 10rem;
	margin-block-end: 5rem;
	/* border: 1px solid red; */
}
.scroll-image {
	width: 100%;
}

.hero-subContainer {
	display: flex;
	height: 50vh;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	/* border: 1px solid red; */
}
@media only screen and (max-width: 900px) {
	.main-subtitle {
		font-size: 1.3rem;
	}
	.custom-shape-divider-bottom-1632433472 {
		display: none;
	}
}
/* @media only screen and (max-width: 340px) {
  .hero {
    height: 97.9vh;
  }
} */
