.menu-down-container {
  background-color: #061e66a2;
  height: 100vh;
  grid-area: 2/2/3/3;
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
  width: 100%;
}
.menu-down-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid green; */
  min-width: 15rem;
}
.vanish {
  display: none;
}
path {
  stroke: #fff;
}
@media only screen and (min-width: 990px) {
  .menu-down-container {
    display: none;
  }
}
