.projects {
	margin-block-start: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	margin-block-end: 20rem;
}
.projects-container {
	display: flex;
	width: 80%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.projects-title {
	color: var(--black);
}
.projects-subTitle {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	margin-block-end: 3rem;
	font-size: 2rem;
}
.project-image-container {
	position: relative;
	display: flex;
	align-items: center;
	min-width: 8.7rem;
	margin: 1rem;
	width: 35%;
	height: 30vh;
	/* height: fit-content; */
	box-shadow: -6px 0px 11px 5px rgba(0, 0, 0, 0.19);
}
.project-image {
	display: block;
	width: 100%;
}
.img-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #061e66a2;
	color: var(--off-white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.5s;
}
.img-overlay:hover {
	opacity: 1;
}
.image-title {
	font-size: 1.8rem;
	font-family: 'Oswald', sans-serif;
}
.image-subTitle {
	font-size: 1.4rem;
	color: var(--off-white);
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 100;
}
@media only screen and (max-width: 990px) {
	.projects-container {
		flex-direction: column;
		width: 100vw;
	}
	.project-image-container {
		width: 50%;
		height: fit-content;
	}
}
@media only screen and (max-width: 768px) {
	.projects-subTitle {
		font-size: 1.6rem;
	}
	.image-subTitle {
		display: none;
	}
}
@media only screen and (max-width: 460px) {
	.projects-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.project-image-container {
		width: 70%;
		height: fit-content;
	}
}
